/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

:root {
  --header-height: 3.5rem;

  /* colors */
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /* fonts */
  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;

  --font-regular: 400;
  --font-medium: 500;

  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* REUSABLE CSS CLASSES */

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* headers */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  color: var(--white-color);
  font-weight: var(--font-medium);

}

.nav__close,
.nav__toggle {
  display: flex;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__logo,
.nav__logo2 {
  font-size: 1.35rem;
  background-color: aqua;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 850;
  color: var(--black-color);
}

.nav__list .nav__logo2 {
  display: none;
}


@media screen and (max-width:1150px) {


  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0.10);

    height: 100vh;
    width: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s ease;

  }

  .nav__list .nav__logo2 {
    display: block;
    position: absolute;
    top: 1.2rem;
  }

  .show-menu {
    left: 0;
  }

  .nav__item {
    transform: translateX(-190px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(2) {
    transition-delay: .1s;
  }

  .nav__item:nth-child(3) {
    transition-delay: .2s;
  }

  .nav__item:nth-child(4) {
    transition-delay: .3s;
  }

  .nav__item:nth-child(5) {
    transition-delay: .4s;
  }

  .nav__item:nth-child(6) {
    transition-delay: .5s;
  }

  .nav__close {
    background-color: aliceblue;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 1rem;
    color: var(--black-color);
  }

  .nav__toggle:hover {
    color: aqua;
  }
  .nav__link span{
    font-size: 1.3rem;
  }

}

.nav__list,
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}


.nav__link {
  position: relative;
  color: var(--white-color);
  font-size: var(--h1-font-size);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s ease;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width .4s ease-in-out;
}

.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .3;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform .4s ease;
}

.nav__social-link:hover {
  transform: translateY(-.55rem);
}

.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

@media screen and (min-width:1150px) {

  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }

  .nav__item span {
    font-weight: 550;
  }
}

main {
  height: 100vh;
  background-color: rgb(174, 170, 170);
}